* {
    border: 2px solid red;
    box-sizing: border-box;
}

#containerE-A-S {
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.divE-A-S {
    background: rgb(255, 255, 255);
    flex: auto;
    flex-shrink: 1;
    width: 25%;
    height: 25%;
}

.div-hover {
    background: rgba(0, 0, 0, 0.400);
}

